<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.png.png" alt="Bootstrap" width="200" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a *ngIf="user_id" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa text-success"> Welcome {{firstName}}!</i>
          </a>
          <a *ngIf="!user_id" class="nav-link text-danger" routerLink="/signin" role="button" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/myprofile">My Profile</a></li>
            <li><a class="dropdown-item" routerLink="/myorders">My Orders</a></li>
            <li><a class="dropdown-item" routerLink="/wishlist">Wish List</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a style="color: crimson" class="dropdown-item " role="button" (click)="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Log-Out
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="d-flex align-items-center">
      <!-- Use Angular's ngIf with a template expression directly in the class attribute -->
<a class="nav-link mt-1 me-3" routerLink="/cart">
  <i class="fa fa-shopping-basket fa-lg"></i>
  <span *ngIf="userservice.cartCount > 0" class="badge bg-danger">{{ userservice.cartCount }}</span>
</a>


        <form class="d-flex" role="search">
          <input class="form-control me-2" #searchInput (keyup)="onSearchInput($event)" 
          type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" routerLink="/search" 
            type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>
