<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/logo.png.png" alt="Bootstrap" width="200" height="40">
      </a>    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
         
          <li class="nav-item dropdown">
  
            <a  *ngIf="user_id" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <i class="fa text-success "> Welcome {{firstName}} !</i>
            </a> 
            <a *ngIf="!user_id"class="nav-link text-danger " routerLink="/signin" role="button"  aria-expanded="false">Login
           </a>
    
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/myprofile">My-Profile</a></li>
              <li><a class="dropdown-item" routerLink="/myorders">My-Orders</a></li>
              <li><a class="dropdown-item" routerLink="/wishlist">Wish-List</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a style="color:crimson" class="dropdown-item "  role="button" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true">Log-Out </i>
              </a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a   class="nav-link  " routerLink="/cart"> <i class=" fa fa-shopping-basket fa-lg"></i></a>
          </li> -->
         
        </ul>
        <form class="d-flex" role="search">
            <a   class="nav-link  mt-1 " routerLink="/cart"> <i class=" fa fa-shopping-basket fa-lg"></i></a>

           <span *ngIf="this.userservice.cartCount>0" class="text-danger  " > {{this.userservice.cartCount}}</span>
         
          <input class="form-control ms-2 me-2 " #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()"    type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" routerLink="/search" onchange="change(searchInput.value)"  (click)="submitSearch(searchInput.value)" type="submit"> <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>