<app-navbar></app-navbar>

<div class="container mt-5">
  <br>
  <header class="bg-success py-4">
    <div class="container">
      <nav class="d-flex">
        <h6 class="mb-0">
          <a routerLink="" class="text-white-50">Home</a>
          <span class="text-white-50 mx-2"> > </span>
          <a routerLink="/cart" class="text-white-50">2. Shopping cart</a>
          <span class="text-white-50 mx-2"> > </span>
          <a routerLink="/checkout" class="text-white"><u>3. Order info</u></a>
          <span class="text-white-50 mx-2"> > </span>
          <a routerLink="/payment" class="text-white-50">4. Payment</a>
        </h6>
      </nav>
    </div>
  </header>

  <div class="my-2">
    <div class="m-auto col-10 border">
      <div type="button" class="well well-lg card card-block card-header my-2"
        style="background-color: rgb(0, 56, 226); color: white;" [attr.aria-expanded]="isCollapsed"
        aria-controls="collapseBasic"> <b> Step 1: Add Delivery Address </b></div>


      <div id="collapseBasic" [collapse]="!isCollapsed" [isAnimated]="true">
        <form [formGroup]="delForm">
          <!-- Your form controls go here -->
          <div class="form-group row gx-1">
            <input formControlName="name" style="border-radius: 0px;" type="text" class="form-control my-2 col mx-2"
              placeholder="Name">
            <input formControlName="phoneno" style="border-radius: 0px;" type="text" class="form-control my-2 col mx-2"
              placeholder="10-digit mobile number">
          </div>
          <div class="form-group row gx-1">
            <input formControlName="pincode" style="border-radius: 0px;" type="text" class="form-control my-2 col mx-2"
              placeholder="Pin code">
            <input formControlName="locality" style="border-radius: 0px;" type="text" class="form-control my-2 col mx-2"
              placeholder="Locality">
          </div>
          <div class="form-group row gx-1">
            <textarea formControlName="address" style="border-radius: 0px;" type="textarea"
              class="form-control my-2 col mx-2" placeholder="Address (Area and Street)"></textarea>
          </div>
          <div class="form-group row gx-1">
            <input formControlName="city" style="border-radius: 0px;" type="text" class="form-control my-2 col mx-2"
              placeholder="City/District/Town">
            <select formControlName="state" class="select my-2 col mx-2 form-select"
              style="border-color: rgb(216, 216, 216);" name="state" placeholder="State" required="">
              <option value="" disabled="" selected>--Select State--</option>
              <!-- Add other options here -->
              <option value="Andaman &amp; Nicobar Islands">Andaman &amp; Nicobar Islands</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Dadra &amp; Nagar Haveli &amp; Daman &amp; Diu">Dadra &amp; Nagar Haveli &amp; Daman &amp;
                Diu</option>
              <option value="Delhi">Delhi</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jammu &amp; Kashmir">Jammu &amp; Kashmir</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Ladakh">Ladakh</option>
              <option value="Lakshadweep">Lakshadweep</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Odisha">Odisha</option>
              <option value="Puducherry">Puducherry</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="West Bengal">West Bengal</option>
            </select>
          </div>
          <div class="mb-3">
            <button (click)="onSave()" type="submit" class="btn btn-warning mx-4"
              style="color: white;"><b>SAVE</b></button>
            <button class="btn btn-secondary" [routerLink]="['/app-cart']">CANCEL</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-10 m-auto my-2">
      <div class="well well-lg card card-block card-header" style="background-color: rgb(0, 56, 226); color: white;">
        <b>Step 2: Payment Options</b>
      </div>

      <div class="col-10 m-auto">
        <button class="ms-5 col-8 mt-2 btn btn-outline-success" [routerLink]="['/myorders']" (click)="cod()">
          <img style="height: 30px;" src="https://cdn-icons-png.flaticon.com/512/6491/6491490.png"> Cash on Delivery
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>