<!-- As a heading -->
<nav class="navbar bg-light mb-0 sticky-top ">
  <div class="container">
    <span class="navbar-brand mb-0 h1">Admin</span>
  </div>
</nav>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="   col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class=" d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
       
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        

          <li>
            <a routerLink="/admin/orders" class="nav-link text-white px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
          </li>

          <li>
            <a routerLink="/admin/productlist" data-bs-toggle="collapse" class=" text-white nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>

          </li>
          <li>
            <a routerLink="/admin/customers" class="nav-link text-white px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown pb-4">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">prince</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3">
      <div>
        <h5 class="text-center">Total Orders: ({{this.Totalorder}})</h5>
        <table class="table table-sm table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center" scope="col"> #</th>
              <th class="text-center" scope="col"> Order Id</th>
              <th class="text-center" scope="col"> Order Date</th>
              <th class="text-center" scope="col"> User Id</th>
              <th class="text-center" scope="col"> User Email</th>
              <th class="text-center" scope="col"> User Name</th>
              <th class="text-center" scope="col"> Products Details</th>
              <th class="text-center" scope="col"> Delivery Details</th>
              <th class="text-center" scope="col"> Order status</th>
              <th class="text-center" scope="col"> Payment status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of Orders index as i">
              <td>{{i+1}}</td>

              <td style="font-size: x-small;">{{order._id}}</td>
              <td style="font-size: x-small;">{{order.ordertime.substring(0,24)}}</td>
              <td style="font-size: x-small;">{{order.userid}}{{order.usergId}}</td>
              <td>{{order.usergemail}}{{order.email}}</td>
              <td style="font-size: x-small;"> {{order.name}}</td>
              <td><button class="btn btn-sm btn-warning" type="button" (click)="openModal(template)">View</button></td>

              <ng-template #template>
                
                <div class="modal-header ">
                  <h4 class="modal-title">Product Details: ({{order.products}})</h4>
                  <button class="btn-close close" type="button" aria-label="Close" (click)="modalRef?.hide()">
                    <span class="visually-hidden" aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body  ">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th style="font-size: x-small; width: 15px; " scope="col">  Id</th>
                        <th style="font-size: x-small;" scope="col">  Name</th>
                        <th style="font-size: x-small;" scope="col">  MRP</th>
                        <th style="font-size: x-small;" scope="col"> Discount</th>
                        <th style="font-size: x-small;" scope="col">  SellPrice</th>
                        <th style="font-size: x-small;" scope="col">  Qnt</th>
                        <th style="font-size: x-small;" scope="col">  Amount  ₹</th>
                   
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let prod of order.products">
                        <td style="font-size: x-small;"> {{prod._id}}</td>
                        <td style="font-size: x-small;"> {{prod.name}}</td>
                        <td style="font-size: x-small;"> {{prod.mrp}}</td>
                        <td style="font-size: x-small;">{{prod.discount}}%</td>
                        
                        <td style="font-size: x-small;">{{prod.sellprice}}</td>
                        <td style="font-size: x-small;">{{prod.qnt}}</td>
                        <td style="font-size: x-small;">{{prod.qnt*(prod.mrp-(prod.mrp*prod.discount/100)) }}</td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>

              <td style="font-size: x-small;">
                {{order.name}},{{order.address}},{{order.locality}},{{order.city}},{{order.state}},{{order.pincode}},{{order.phoneno}}
              </td>
              <td>
            <tr>
              <select [(ngModel)]="order.order_status" aria-label="Default select example"
                            (change)="setOrderStatus(order._id, 'order_status', order.order_status)">
                              <option value="Ordered">Ordered</option>
                              <option value="Shipped">Shipped</option>
                              <option value="Out for Delivery">Out for Delivery</option>
                              <option value="Delivered">Delivered</option>
                              <option value="Cancelled">Cancelled</option>
                          </select>
            </tr>
            </td>
            <td>
              <tr>
                <select class="" aria-label="Default select example">
                  <option value="Pending">Pending</option>
                  <option value="Paid">Paid</option>
                  <option value="Refunded">Refunded</option>
                </select>
              </tr>
            </td>
            </tr>
          </tbody>
        </table>

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Products ordered</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
          <div class="container">
            <article class="card">
              <div class="card-body">
                <div><img src="../../../assets/2boysshirt.jpg" style="height: 100px;" class="img-sm border"></div>&nbsp;
                <div><img src="../../../assets/apple ipad.jpg" style="height: 100px;" class="img-sm border"></div>&nbsp;
                <div><img src="../../../assets/blue tshirt.jpg" style="height: 100px;" class="img-sm border"></div>
              </div>
            </article>
          </div>
        </ng-template>
      </div>
    </div>



    <!-- DEV Community — A constructive and inclusive social network for software developers. With you every step of your journey.

Home
Listings
Podcasts
Videos
Tags
FAQ
Forem Shop
Sponsors
About
Contact
Guides
Software comparisons
Code of Conduct
Privacy Policy
Terms of use
Built on Forem — the open source software that powers DEV and other inclusive communities.

Made with love and Ruby on Rails. DEV Community © 2016 - 2023. -->






    <!-- <!-- <app-popup-ordered-products  [order]="selectedOrder"></app-popup-ordered-products>
<app-popup-ordered-products ></app-popup-ordered-products> -->