  <app-navbar></app-navbar>

  <section *ngIf="getCartDetails.length" class="h-custom bg-light mt-5">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card card-registration card-registration-2">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-12">
                  <div class="p-4">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h1 class="fw-bold mb-0 text-dark">Your Cart</h1>
                      <h6 class="mb-0 text-muted">Items: {{getCartDetails.length}}</h6>
                    </div>
                    <hr class="my-3">

                
                    <div *ngFor="let getCartDetail of getCartDetails" class="mb-3 col-12 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img style="max-height: 200px; width: 100%;" src="../../../assets/almonds/californian.png" class="img-fluid rounded-3" alt="Product Image">
                      </div>
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <h6 class="text-muted">{{getCartDetail.category}}</h6>
                        <h6 class="text-black mb-0">{{getCartDetail.name}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex align-items-center">
                        <button class="btn btn-link" (click)="decQnt(getCartDetail._id, getCartDetail.qnt)">
                          <i class="fa fa-minus"></i>
                        </button>
                        <span class="btn border"><b>{{getCartDetail.qnt}} kg</b></span>
                        <button class="btn btn-link" (click)="incQnt(getCartDetail._id, getCartDetail.qnt)">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0 text-decoration-line-through" style="font-size: 14px;">MRP: ₹ {{getCartDetail.mrp}}</h6>
                        <h6 class="mb-0 text-success" style="font-size: 14px;">Discount: ₹ {{getCartDetail.discount}}%</h6>
                        <h6 class="mb-0" style="font-size: 14px;">Offer Price: ₹ {{getCartDetail.mrp - getCartDetail.discount*getCartDetail.mrp/100}}/kg</h6>
                      </div>
                      <div (click)="singleDelete(getCartDetail._id)" class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-danger" style="font-size: 14px; text-decoration: none;">
                          <i class="fa"></i>REMOVE
                        </a>
                      </div>
                      <hr class="my-3">
                    </div>
                    

                    <div class="pt-4">
                      <h6 class="mb-0"><a href="#!" class="btn btn-light text-body"><i class="fa fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Product Details Section -->
          <!-- Include any additional content or components for product details -->

          <!-- Price Details Section -->
          <div class="container mt-2">
            <div class="row">
              <div class="col-md-12">
                <div class="bg-white p-3" style="border-radius: 10px;">
                  <div style="color: red; font-size: 1.2rem;"><b>Price Details: </b></div>
                  <br>
                  <div style="font-size: 1.1rem;"><b>Price ({{getCartDetails.length}} items): <span>₹{{total}}/-</span></b></div>
                  <div style="color: green; font-size: 1.1rem;">Total savings = ₹{{totalsave}}/-</div>
                </div>
              </div>
              <div class="col-md-12 mt-3">
                <div class="container" style="color: white; height: 70px; text-align: right;">
                  <!-- Place Order Button -->
                  <button [routerLink]="['/checkout']" class="col-12 btn btn-danger btn-lg ms-2"
                    style="color: white;"><b>PLACE ORDER</b></button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <div *ngIf="!getCartDetails.length" class="mb-4 col-sm-4 container m-auto mt-5 text-center">
    <img style="max-height: 250px; width: 100%;"
      src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
      alt="Empty Cart Image">
    <h4 class="mt-3">Oops!! Your cart is empty</h4>
    <button class="btn btn-warning mt-3 col-9" [routerLink]="['/app-home']">
        <i class="fa fa-shopping-cart me-2" style="font-size: 20px;"></i>
        <b>Shop Now</b>
    </button>
</div>


<app-footer></app-footer>

