
<app-navbar></app-navbar>
<div class="row   col-12">
    <div class="card mt-3 ms-1" *ngFor="let product of SearchResult"  style="width: 18rem;  ">
      <img class="card-img-top" style="width:270px; height: 270px; padding:7px; " src="../../../assets/almonds/M eva Mart.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text d-inline-block text-truncate" style="max-width: 250px;" >{{product.desc}}</p>
        <button 
        style="margin-left: 40px; color: rgb(0, 0, 0); font-style: italic; font-weight:600;" id="clickadd"
        class="btn btn-warning me-2 "><i style="  font-size: 20px;" class="fa fa-shopping-cart"></i> Add to
        Cart</button>    </div>
    </div>
  </div>
<app-footer></app-footer>
