<app-navbar></app-navbar>

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" target="__blank">Profile</a>
        <a class="nav-link" target="__blank">Billing</a>
        <a class="nav-link" target="__blank">Security</a>
        <a class="nav-link" target="__blank">Notifications</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <!-- <div class="col-xl-4">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <button class="btn btn-primary" type="button">Upload new image</button>
                </div>
            </div>
        </div> -->
        <div class="d-flex justify-content-center" >
            <div class="col-xl-8  ">
                <!-- Account details card-->
                <div class="card mb-4 ">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form [formGroup]="userprofileForm">
                            <!-- Form Group (username)-->
                            <div class="mb-3 form-group">
                                <label class="small mb-1" for="name">Name (how your name will appear to other users on the site)</label>
                                <input formControlName="name" type="name" id="name" placeholder="Your Name" [value]="username" 
                                class="form-control" />
                              <span class="form-text text-danger" *ngIf="f.name.dirty && f.name.invalid "   style="color:red"> *Field is required
                              </span>                     
                            </div>
                        
                            <!-- Form Row        -->
                            <div class="mb-3 form-group">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input formControlName="email" [value]="useremail" type="email" id="email" placeholder="Email Address"
                                class="form-control" />
                              <span class="form-text text-danger" *ngIf="f.email.dirty && f.email.invalid "  style="color:red">*Please provide a valid email address
                              </span>                        
                            </div>
                        
                          
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3 ">
                                <!-- Form Group (phone number)-->
                                <div class="col-md-6 form-group" >
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input formControlName="contactno" [value]="usercontactno"  type="contactno" id="contactno" placeholder="Phone no."
                                    class="form-control" />
                                  <span class="form-text text-danger" *ngIf="f.contactno.invalid "  style="color:red">*Please provide a valid Phone no.
                                  </span>                                 
                                </div>
                                <!-- Form Group (birthday)-->
                                <!-- <div class="col-md-6 form-group">
                                    <label class="small mb-1 " for="gender">Gender</label>
                                    <div>
                                        
                                        <input formControlName="gender" class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="..." />
                                        <label class="small mb-1" for="inputPhone">Male</label>
    
                                      </div>
                                      
                                      <div>
                                        <input  formControlName="gender" class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2" value="" aria-label="..." />
                                        <label class="small mb-1" for="inputPhone">Female</label>
    
                                      </div>
                                </div> -->
                            </div>
                            <!-- Save changes button-->
                            <button (click)="updateuserinfo()" class="btn btn-primary" type="button">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>